@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
   --main-color:#8e44ad;
   --red:#e74c3c;
   --orange:#f39c12;
   --light-color:#888;
   --light-bg:#eee;
   --black:#2c3e50;
   --white:#fff;
   --border:.1rem solid rgba(0,0,0,.2);
}
nav .container-fluid{
   box-shadow: 0px 7px 3px rgba(0,0,0,0.5);
}
nav .nav-link ,.navbar-brand{
   color:#8e448e;
   padding: 10px;
   font-size: 1.3rem;
   border-radius: 30px;
   ;

}
#sp{
 color:#8e448e !important;
   padding: 10px;
   font-size: 1.3rem;
   border-radius: 30px; 
   
}
nav .nav-item  :hover {
   color: #fff !important;
   background-color:#8e448e !important;
   border-radius: 30px;
}
#sp:hover{
   color: #fff !important;
   background-color:#8e448e !important;
}
@media (max-width:799px) {
    .nav-item{
       display:flex;
       align-items: center;
       justify-content: center;
   }
   #sp{
       display:flex;
       align-items: center;
       justify-content: center;
   }
  
}
*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

*::selection{
   background-color: var(--main-color);
   color:#fff;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
   height: .5rem;
}

html::-webkit-scrollbar-track{
   background-color: transparent;
}

html::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

body{
   background-color: var(--light-bg);

}

body.dark{
   --light-color:#aaa;
   --light-bg:#333;
   --black:#fff;
   --white:#222;
   --border:.1rem solid rgba(255,255,255,.2);
}

body.active{
   padding-left: 0;
}

section{
   padding:2rem;
   margin: 0 auto;
   max-width: 1200px;
}

.heading{
   font-size: 2.5rem;
   color:var(--black);
   margin-bottom: 2.5rem;
   border-bottom: var(--border);
   padding-bottom: 1.5rem;
   text-transform: capitalize;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn,
.btn,
.delete-btn,
.option-btn{
   border-radius: .5rem;
   color:#fff;
   font-size: 1.8rem;
   cursor: pointer;
   text-transform: capitalize;
   padding:1rem 3rem;
   text-align: center;
   margin-top: 1rem;
}

.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn{
   display: inline-block;
}

.btn,
.inline-btn{
   background-color: var(--main-color);
}

.option-btn,
.inline-option-btn{
   background-color:var(--orange);
}

.delete-btn,
.inline-delete-btn{
   background-color: var(--red);
}

.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover,
.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
   color: var(--white);
}

.flex-btn{
   display: flex;
   gap: 1rem;
}



.heading{
    font-size: 2.5rem;
    color:var(--black);
    margin-bottom: 2.5rem;
    border-bottom: var(--border);
    padding-bottom: 1.5rem;
    text-transform: capitalize;
 }
.courses .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .courses .box-container .box{
    border-radius: .5rem;
    background-color: var(--white);
    padding:2rem;
 }
.courses .box-container .box .tutor{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
 }
 
 .courses .box-container .box .tutor img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
 }
 
 .courses .box-container .box .tutor h3{
    font-size: 1.8rem;
    color: var(--black);
    margin-bottom: .2rem;
 }
 
 .courses .box-container .box .tutor span{
    font-size: 1.3rem;
    color:var(--light-color);
 }
 
 .courses .box-container .box .thumb{
    position: relative;
 }
 
 .courses .box-container .box .thumb span{
    position: absolute;
    top:1rem; left: 1rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    background-color: rgba(0,0,0,.3);
    color: #fff;
    font-size: 1.5rem;
 }
 
 .courses .box-container .box .thumb img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: .5rem;
 }
 
 .courses .box-container .box .title{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
    padding-top: 1rem;
 }

 .courses .more-btn{
    text-align: center;
    margin-top: 2rem;
 }


 /* Playlist */
 .playlist-details .row{
    display: flex;
    align-items: flex-end;
    gap:3rem;
    flex-wrap: wrap;
    background-color: var(--white);
    padding: 2rem;
 }
 
 .playlist-details .row .column{
    flex: 1 1 40rem;
 }
 
 .playlist-details .row .column .save-playlist{
    margin-bottom: 1.5rem;
 }
 
 .playlist-details .row .column .save-playlist button{
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding:1rem 1.5rem;
    cursor: pointer;
 }
 
 .playlist-details .row .column .save-playlist button i{
    font-size: 2rem;
    color:var(--black);
    margin-right: .8rem;
 }
 
 .playlist-details .row .column .save-playlist button span{
    font-size: 1.8rem;
    color:var(--light-color);
 }
 
 .playlist-details .row .column .save-playlist button:hover{
    background-color: var(--black);
 }
 
 .playlist-details .row .column .save-playlist button:hover i{
    color:var(--white);
 }
 
 .playlist-details .row .column .save-playlist button:hover span{
    color:var(--white);
 }
 
 .playlist-details .row .column .thumb{
    position: relative;
 }
 
 .playlist-details .row .column .thumb span{
    font-size: 1.8rem;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    border-radius: .5rem;
    position: absolute;
    top: 1rem; left: 1rem;
    padding: .5rem 1.5rem;
 }
 
 .playlist-details .row .column .thumb img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
 }
 
 .playlist-details .row .column .tutor{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
 }
 
 .playlist-details .row .column .tutor img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
 }
 
 .playlist-details .row .column .tutor h3{
    font-size: 2rem;
    color:var(--black);
    margin-bottom: .2rem;
 }
 
 .playlist-details .row .column .tutor span{
    font-size: 1.5rem;
    color: var(--light-color);
 }
 
 .playlist-details .row .column .details h3{
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
 }
 
 .playlist-details .row .column .details p{
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.8rem;
    color: var(--light-color);
 }
 
 .playlist-videos .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .playlist-videos .box-container .box{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    position: relative;
 }
 
 .playlist-videos .box-container .box i{
    position: absolute;
    top: 2rem; left: 2rem; right: 2rem;
    height: 20rem;
    border-radius: .5rem;
    background-color: rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: #fff;
    display: none;
 }
 
 .playlist-videos .box-container .box:hover i{
    display: flex;
 }
 
 .playlist-videos .box-container .box img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: .5rem;
 }
 
 .playlist-videos .box-container .box h3{
    margin-top: 1.5rem;
    font-size: 1.8rem;
    color: var(--black);
 }
 
 .playlist-videos .box-container .box:hover h3{
    color: var(--main-color);
 }
 
 /* Watch video */
 
.watch-video .video-container{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
 }
 
 .watch-video .video-container .video{
    position: relative;
    margin-bottom: 1.5rem;
 }
 
 .watch-video .video-container .video video{
    border-radius: .5rem;
    width: 100%;
    object-fit: contain;
    background-color: #000;
 }
 
 .watch-video .video-container .title{
    font-size: 2rem;
    color: var(--black);
 }
 
 .watch-video .video-container .info{
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: var(--border);
    padding-bottom: 1.5rem;
    gap: 2.5rem;
    align-items: center;
 }
 
 .watch-video .video-container .info p{
    font-size: 1.6rem;
 }
 
 .watch-video .video-container .info p span{
    color: var(--light-color);
 }
 
 .watch-video .video-container .info i{
    margin-right: 1rem;
    color: var(--main-color);
 }
 
 .watch-video .video-container .tutor{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
 }
 
 .watch-video .video-container .tutor img{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    object-fit: cover;
 }
 
 .watch-video .video-container .tutor h3{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: .2rem;
 }
 
 .watch-video .video-container .tutor span{
    font-size: 1.5rem;
    color: var(--light-color);
 }
 
 .watch-video .video-container .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
 }
 
 .watch-video .video-container .flex button{
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    cursor: pointer;
    background-color: var(--light-bg);
 }
 
 .watch-video .video-container .flex button i{
    margin-right: 1rem;
    color: var(--black);
 }
 
 .watch-video .video-container .flex button span{
    color: var(--light-color);
 }
 
 .watch-video .video-container .flex button:hover{
    background-color: var(--black);
 }
 
 .watch-video .video-container .flex button:hover i{
    color: var(--white);
 }
 
 .watch-video .video-container .flex button:hover span{
    color: var(--white);
 }
 
 .watch-video .video-container .description{
    line-height: 1.5;
    font-size: 1.7rem;
    color: var(--light-color);
    margin-top: 2rem;
 }
 

    /* About Page */
.about .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:1.5rem;
}

.about .row .image{
   flex: 1 1 40rem;
}

.about .row .image img{
   width: 100%;
   height: 50rem;
}

.about .row .content{
   flex: 1 1 40rem;
}

.about .row .content p{
   font-size: 1.7rem;
   line-height: 2;
   color: var(--light-color);
   padding: 1rem 0;
}

.about .row .content h3{
   font-size: 3rem;
   color:var(--black);
   text-transform: capitalize;
}

.about .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
   margin-top: 3rem;
}

.about .box-container .box{
   border-radius: .5rem;
   background-color: var(--white);
   padding: 2rem;
   display: flex;
   align-items: center;
   gap: 2.5rem;
}

.about .box-container .box i{
   font-size: 4rem;
   color: var(--main-color);
}

.about .box-container .box h3{
   font-size: 2.5rem;
   color: var(--black);
   margin-bottom: .3rem;
}

.about .box-container .box p{
   font-size: 1.7rem;
   color:var(--light-color);
}
.reviews .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.reviews .box-container .box{
   border-radius: .5rem;
   background-color: var(--white);
   padding: 2rem;
}

.reviews .box-container .box p{
   line-height: 1.7;
   font-size: 1.7rem;
   color: var(--light-color);
}

.reviews .box-container .box .student{
   margin-top: 2rem;
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.reviews .box-container .box .student img{
   height: 5rem;
   width: 5rem;
   object-fit: cover;
   border-radius: 50%;
}

.reviews .box-container .box .student h3{
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .3rem;
}

.reviews .box-container .box .student .stars{
   font-size: 1.5rem;
   color:var(--orange);
}









.ag-format-container {
   width: 1142px;
   margin: 0 auto;
 }
 
 

 .ag-courses_box {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
 
   padding: 50px 0;
 }
 .ag-courses_item {
   -ms-flex-preferred-size: calc(33.33333% - 30px);
   flex-basis: calc(33.33333% - 30px);
 
   margin: 0 15px 30px;
 
   overflow: hidden;
 
   border-radius: 28px;
 }
 .ag-courses-item_link {
   display: block;
   padding: 30px 20px;
   background-color: #121212;
 
   overflow: hidden;
 
   position: relative;
 }
 .ag-courses-item_link:hover,
 .ag-courses-item_link:hover .ag-courses-item_date {
   text-decoration: none;
   color: #FFF;
 }
 .ag-courses-item_link:hover .ag-courses-item_bg {
   -webkit-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
 }
 .ag-courses-item_title {
   min-height: 87px;
   margin: 0 0 25px;
 
   overflow: hidden;
 
   font-weight: bold;
   font-size: 30px;
   color: #FFF;
 
   z-index: 2;
   position: relative;
 }
 .ag-courses-item_date-box {
   font-size: 18px;
   color: #FFF;
 
   z-index: 2;
   position: relative;
 }
 .ag-courses-item_date {
   font-weight: bold;
   color: #8e44ad;
 
   -webkit-transition: color .5s ease;
   -o-transition: color .5s ease;
   transition: color .5s ease
 }
 .ag-courses-item_bg {
   height: 128px;
   width: 128px;
   background-color: #8e44ad;
 
   z-index: 1;
   position: absolute;
   top: -75px;
   right: -75px;
 
   border-radius: 50%;
 
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
 }
 .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
   background-color: #8e44ad;
 }
 .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
   background-color: #8e44ad;
 }
 .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
   background-color: #8e44ad;
 }
 .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
   background-color: #8e44ad;
 }
 .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
   background-color: #8e44ad;
 }
 
 
 
 @media only screen and (max-width: 979px) {
   .ag-courses_item {
     -ms-flex-preferred-size: calc(50% - 30px);
     flex-basis: calc(50% - 30px);
   }
   .ag-courses-item_title {
     font-size: 24px;
   }
 }
 
 @media only screen and (max-width: 767px) {
   .ag-format-container {
     width: 96%;
   }
 
 }
 @media only screen and (max-width: 639px) {
   .ag-courses_item {
     -ms-flex-preferred-size: 100%;
     flex-basis: 100%;
   }
   .ag-courses-item_title {
     min-height: 72px;
     line-height: 1;
 
     font-size: 24px;
   }
   .ag-courses-item_link {
     padding: 22px 40px;
   }
   .ag-courses-item_date-box {
     font-size: 16px;
   }
 }

 ::selection {
   color: #000;
   background: #fff;
 }
 .img {
   margin-top: 5%;
   background: url("bg.jpg") no-repeat;
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-position: center;
   position: relative;
 }
 .img::before {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   background: rgba(0, 0, 0, 0.4);
 }
 .center {
   margin-top: 5%;
   position: absolute;
   top: 75%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   padding: 0 20px;
   text-align: center;
 }
 .center .title {
   color: #fff;
   font-size: 55px;
   font-weight: 600;
 }
 .center .sub_title {
   color: #fff;
   font-size: 52px;
   font-weight: 600;
 }
 .center .btns {
   margin-top: 20px;
 }
 .center .btns button {
   height: 55px;
   width: 170px;
   border-radius: 5px;
   border: none;
   margin: 0 10px;
   border: 2px solid white;
   font-size: 20px;
   font-weight: 500;
   padding: 0 10px;
   cursor: pointer;
   outline: none;
   transition: all 0.3s ease;
 }
 .center .btns button:first-child {
   color: #fff;
   background: none;
 }
 .btns button:first-child:hover {
   background: white;
   color: black;
 }
 .center .btns button:last-child {
   background: white;
   color: black;
 }
 .btns button:last-child:hover {
   background: none;
   color: white;
 }
 